.post-entry-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    text-indent: -9999px;
    z-index: 0;
}

.itp-m3-post-entry-cover {
    @media screen and (min-width: 1024px) {
        height: 322px;
    }
    @media screen and (max-width: 1024px) {
        height: 233px;
    }
    background-position: center;
    background-size: cover;
    border-radius: var(--radius);
}

.itp-m3-post-entry-cover:hover {}

.itp-m3-post-entry-info {
    @media screen and (min-width: 1024px) {
        padding: 42px 54px 54px 54px;
        .title {
            font-size: 28px;
        }
    }
    @media screen and (max-width: 1024px) {
        padding: 28px 32px 32px 32px;
        .title {
            font-size: 24px;
        }
    }
    .title {
        font-weight: 400;
        z-index: 1;
        position: relative;
        a {
            color: $deep-grey;
            font-weight: 400;
        }
    }
    .excerpt,
    .meta {
        font-size: 14px;
        margin-bottom: 20px;
        font-weight: 400;
        color: $grey;
        line-height: 20px;
    }
    .excerpt {
        margin-top: 20px;
    }
    .meta {
        margin-top: 0px;
    }
    .category {
        z-index: 1;
        position: relative;
        .tags {}
    }
}

.itp-m3-stack {
    position: relative;
    height: 220px;
    margin: 0 auto;
    margin-bottom: 58px;
    .post-entry-link {
        z-index: 9;
    }
    .stack-item {
        position: relative;
        background-position: center;
        background-size: cover;
        border-radius: var(--radius);
        height: 200px;
        transition: transform 0.3s, background-color 0.3s, box-shadow 0.6s, opacity 0.3s;
    }
    .stack-cover {
        width: 100%;
        top: 20px;
        left: 0px;
        z-index: 7;
        box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 2%), 1px 1px 15px 0 rgb(0 0 0 / 3%);
    }
    .stack-cover2 {
        margin: 0 auto;
        width: 95%;
        background-color: #57b459;
        opacity: 0.6;
        background-position: center;
        background-size: cover;
        z-index: 5;
        top: -200px;
    }
}

.itp-m3-stack:hover {
    .stack-item {
        box-shadow: 1px 10px 30px 0 rgb(0 0 0 / 10%);
    }
    .stack-cover {
        transform: translateY(5px);
        opacity: 0.95;
    }
    .stack-cover2 {
        transform: translateY(-5px);
    }
}