<div class="content-area">
  <section class="info grid">
    <div class="header-blank"></div>
    <div class="header-info">
      <div style="font-weight:500; font-size: 40px; color: #222831;">Hello,</div>
      <div style="font-weight:500; padding: 0; font-size: 40px; color: #222831;">I am <mark>aiokr</mark></div>
      <div style="font-weight:400; padding: 12px 0; font-size: 18px; color: #222831;">Always a student / Photographer / Blogger</div>
    </div>
  </section>
  <section class="iam grid">
    <div class="about-title">i am</div>
    <div class="about-item">
      <p>Matrix Writer of <a href="https://sspai.com/u/aiokr/posts" target="_blank">SSPAI</a></p>
    </div>
  </section>
  <section class="aboutme grid">
    <div class="about-title">about me</div>
    <div class="about-item">
      <p style="opacity: 0.3;">曾经，我的梦想是成为一名程序员，通过我的代码为世界做出一点贡献；</p>
      <p style="opacity: 0.5;">在大学的时候，我的梦想是成为一名摄影师，想通过按下快门记录每一个瞬间；</p>
      <p style="opacity: 0.7;">现在的我处于对未来的迷茫之中，但我希望我能认真地过好每一天。</p>
  </section>
  <section class="aboutpress grid">
    <div class="about-title">about<br><span style="font-size:16px ;">Tripper.press</span></div>
    <div class="about-item">
      <blockquote>若不被神的意识感知，原本存在之物将不复存在。一件事如果没被报道，就没有发生过。 「新闻」就是新世界的神。</blockquote>
      <p>如果一件事没有记录，那这件事终将在记忆中被遗忘，进而找不到他存在的任何证据。我在这里写下的文字，是我存在的最好的证明。</p>
    </div>
  </section>
  <section class="findme grid">
    <div class="about-title">find me at</div>
    <div class="about-item social-link">
      <div class="social-link-item"><svg t="1662812140724" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="14909" width="22" height="22">
          <path d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9 23.5 23.2 38.1 55.4 38.1 91v112.5c0.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z" p-id="14910" fill="#666666"></path>
        </svg><a class="highlight" href="https://github.com/aiokr" target="_blank">GITHUB</a></div>
      <div class="social-link-item"><svg t="1662812104250" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="14689" width="22" height="22">
          <path d="M832 256h-28.1l-35.7-120.9c-4-13.7-16.5-23.1-30.7-23.1h-451c-14.3 0-26.8 9.4-30.7 23.1L220.1 256H192c-17.7 0-32 14.3-32 32v28c0 4.4 3.6 8 8 8h45.8l47.7 558.7c1.4 16.6 15.3 29.3 31.9 29.3h429.2c16.6 0 30.5-12.7 31.9-29.3L802.2 324H856c4.4 0 8-3.6 8-8v-28c0-17.7-14.3-32-32-32zM508 704c-79.5 0-144-64.5-144-144s64.5-144 144-144 144 64.5 144 144-64.5 144-144 144zM291 256l22.4-76h397.2l22.4 76H291z" p-id="14690" fill="#666666"></path>
          <path d="M508 560m-80 0a80 80 0 1 0 160 0 80 80 0 1 0-160 0Z" p-id="14691" fill="#666666"></path>
        </svg><a class="highlight" href="https://jike.city/photup" target="_blank">Jike</a></div>
      <div class="social-link-item"><svg t="1662812015696" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7544" width="22" height="22">
          <path d="M512 378.7c-73.4 0-133.3 59.9-133.3 133.3S438.6 645.3 512 645.3 645.3 585.4 645.3 512 585.4 378.7 512 378.7z" p-id="7545" fill="#666666"></path>
          <path d="M911.8 512c0-55.2 0.5-109.9-2.6-165-3.1-64-17.7-120.8-64.5-167.6-46.9-46.9-103.6-61.4-167.6-64.5-55.2-3.1-109.9-2.6-165-2.6-55.2 0-109.9-0.5-165 2.6-64 3.1-120.8 17.7-167.6 64.5C132.6 226.3 118.1 283 115 347c-3.1 55.2-2.6 109.9-2.6 165s-0.5 109.9 2.6 165c3.1 64 17.7 120.8 64.5 167.6 46.9 46.9 103.6 61.4 167.6 64.5 55.2 3.1 109.9 2.6 165 2.6 55.2 0 109.9 0.5 165-2.6 64-3.1 120.8-17.7 167.6-64.5 46.9-46.9 61.4-103.6 64.5-167.6 3.2-55.1 2.6-109.8 2.6-165zM512 717.1c-113.5 0-205.1-91.6-205.1-205.1S398.5 306.9 512 306.9 717.1 398.5 717.1 512 625.5 717.1 512 717.1z m213.5-370.7c-26.5 0-47.9-21.4-47.9-47.9s21.4-47.9 47.9-47.9 47.9 21.4 47.9 47.9c-0.1 26.6-21.4 47.9-47.9 47.9z" p-id="7546" fill="#666666"></path>
        </svg><a class="highlight" href="https://www.instagram.com/press.moment/" target="_blank">Instergram</a></div>
    </div>
  </section><img class="logo nofancy" src="https://imgur.lzmun.com/picgo/after2022/202209101335136.png_itp" />
</div>


<div class="itp-m3-card itp-m3-post-comment_area" id="comment">
  <%- partial('_partial/comment') %>
</div>
<style>
  body {
    background-color: #ffffff !important;
    color: #222831aa;
  }

  .content-area {
    padding-top: 60px;
    max-width: 700px;
    margin: 0 auto
  }

  p {
    line-height: 24px;
  }

  @media screen and (max-width: 700px) {
    .content-area {
      padding: 0 18px;
      margin: 0 auto
    }
  }

  mark {
    background-color: #0000;
    color: #222831;
  }

  mark {
    background: linear-gradient(104deg, #71afdd00 0.9%, #71afdd7c 2.4%, #71afdd80 5.8%, #71afdd1a 93%, #71afdd67 96%, #82ffff00 98%), linear-gradient(183deg, #71afdd00 0%, #71afdd4d 7.9%, #71afdd00 15%);
    margin: 0 0px;
    padding: 0 12px;
    border-radius: 7.5px;
    text-shadow: -12px 12px 9.8px #71afdd45, 21px -18.1px 7.3px #ffffff99, -18.1px -27.3px 30px #ffffff99;
  }

  @media screen and (max-width: 700px) {
    .about-title {
      grid-column: span 12 / span 12;
      font-size: 20px;
      font-weight: 500;
      text-align: left;
    }
  }

  @media screen and (min-width: 700px) {
    .about-title {
      grid-column: span 2 / span 2;
      font-size: 20px;
      font-weight: 500;
      text-align: right;
    }
  }

  blockquote {
    padding: 0.1em 0 0.1em 10px;
    margin: 0 0 .5em 0;
    border-left: 2px solid #71afdd;
    quotes: none;
    line-height: 24px;
  }

  .quote {
    padding: 120px 0 0 0;
  }

  .logo {
    padding: 60px 0;
    width: 200px;
    display: block;
    margin: 0 auto;
  }

  @media screen and (max-width: 700px) {
    section.info .header-blank {
      grid-column: span 0 / span 0;
    }

    section.info .header-info {
      grid-column: span 12 / span 12;
      padding: 12px 0 0 0;
    }
  }

  @media screen and (min-width: 700px) {
    section.info .header-blank {
      grid-column: span 2 / span 2;
    }

    section.info .header-info {
      grid-column: span 10 / span 10;
      padding: 60px 0 0 0;
    }
  }


  .iam,
  .findme {
    padding-top: 60px;
  }

  @media screen and (max-width: 700px) {
    .about-item {
      grid-column: span 12 / span 12;
    }

    .social-link {
      display: grid;
      grid-template-columns: repeat(2, minmax(0px, 1fr));
      gap: 8pt;
    }
  }

  @media screen and (min-width: 700px) {
    .about-item {
      grid-column: span 10 / span 10;
    }

    .social-link {
      display: grid;
      grid-template-columns: repeat(4, minmax(0px, 1fr));
      gap: 8pt;
    }
  }

  .social-link-item {
    display: inline-flex;
    line-height: 22px;
  }

  .social-link-item a {
    margin: 0 2px;
    padding: 0 8px;
    color: #222831aa;
    text-transform: uppercase;
    font-weight: 500;
  }

  .highlight {
    background: linear-gradient(104deg, #71afdd00 0.9%, #71afdd7c 2.4%, #71aedd4d 5.8%, #71afdd1a 93%, #71aedd23 96%, #82ffff00 98%), linear-gradient(183deg, #71afdd00 0%, #71aedd3b 7.9%, #71afdd00 15%);
    margin: 0 2px;
    padding: 0 8px;
    border-radius: 1.5px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0px, 1fr));
    gap: 24px;
    padding: 1.5pc 0;
  }
</style>