<div class="content-area about-content-area pjax-area">
  <section class="info grid">
    <div class="header-blank"></div>
    <div class="header-info">
      <div style="font-weight:500; font-size: 40px; color: #222831;">Hello,</div>
      <div style="font-weight:500; padding: 0; font-size: 40px; color: #222831;">I am <mark>Komorebi</mark></div>
      <div style="font-weight:400; padding: 12px 0; font-size: 18px; color: #222831;">Always a student / Photographer / Blogger</div>
    </div>
  </section>
  <section class="iam grid">
    <div class="about-title">i am</div>
    <div class="about-item">
      <p>Matrix Writer of <a href="https://sspai.com/u/aiokr/posts" target="_blank">SSPAI</a></p>
      <p>Contributor of <a href="https://unsplash.com/@aiokr" target="_blank">Unsplash</a></p>
    </div>
  </section>
  <section class="aboutme grid">
    <div class="about-title">about me</div>
    <div class="about-item">
      <p style="opacity: 0.3;">曾经，我的梦想是成为一名程序员，通过我的代码为世界做出一点贡献；</p>
      <p style="opacity: 0.5;">在大学的时候，我的梦想是成为一名摄影师，想通过按下快门记录每一个瞬间；</p>
      <p style="opacity: 0.7;">现在的我处于对未来的迷茫之中，但我希望我能认真地过好每一天。</p>
  </section>
  <section class="aboutpress grid">
    <div class="about-title">about<br><span style="font-size:16px ;">Tripper.press</span></div>
    <div class="about-item">
      <blockquote>若不被神的意识感知，原本存在之物将不复存在。一件事如果没被报道，就没有发生过。 「新闻」就是新世界的神。</blockquote>
      <p>如果一件事没有记录，那这件事终将在记忆中被遗忘，进而找不到他存在的任何证据。我在这里写下的文字，是我存在的最好的证明。</p>
    </div>
  </section>
  <section class="findme grid">
    <div class="about-title">find me at</div>
    <div class="about-item social-link">
      <div class="social-link-item"><iconpark-icon name="github"></iconpark-icon><a class="highlight" href="https://github.com/aiokr" target="_blank">GITHUB</a></div>
      <div class="social-link-item"><iconpark-icon name="comment"></iconpark-icon><a class="highlight" href="https://jike.city/photup" target="_blank">Jike</a></div>
      <div class="social-link-item"><iconpark-icon name="twitter"></iconpark-icon><a class="highlight" href="https://twitter.com/skomobi" target="_blank">Twitter</a></div>
      <div class="social-link-item"><iconpark-icon name="ig"></iconpark-icon><a class="highlight" href="https://www.instagram.com/skomobi/" target="_blank">Instergram</a></div>
      <div class="social-link-item"><iconpark-icon name="unsplash"></iconpark-icon><a class="highlight" href="https://unsplash.com/@aiokr" target="_blank">Unsplash</a></div>
    </div>
  </section><img class="logo nofancy" src="https://imgur.lzmun.com/picgo/after2022/202209101335136.png_itp" />
</div>
<div class="itp-m3-card itp-m3-post-comment_area" id="comment">
  <%- partial('_partial/comment') %>
</div>
<style>
  body {
    background-color: #ffffff !important;
    color: #222831aa;
  }

  .about-content-area {
    padding-top: 60px;
    max-width: 700px;
    margin: 0 auto
  }

  p {
    line-height: 24px;
  }

  @media screen and (max-width: 700px) {
    .content-area {
      padding: 0 18px;
      margin: 0 auto
    }
  }

  mark {
    background-color: #0000;
    color: #222831;
  }

  mark {
    background: linear-gradient(104deg, #71afdd00 0.9%, #71afdd7c 2.4%, #71afdd80 5.8%, #71afdd1a 93%, #71afdd67 96%, #82ffff00 98%), linear-gradient(183deg, #71afdd00 0%, #71afdd4d 7.9%, #71afdd00 15%);
    margin: 0 0px;
    padding: 0 12px;
    border-radius: 7.5px;
    text-shadow: -12px 12px 9.8px #71afdd45, 21px -18.1px 7.3px #ffffff99, -18.1px -27.3px 30px #ffffff99;
  }

  @media screen and (max-width: 700px) {
    .about-title {
      grid-column: span 12 / span 12;
      font-size: 20px;
      font-weight: 500;
      text-align: left;
    }
  }

  @media screen and (min-width: 700px) {
    .about-title {
      grid-column: span 2 / span 2;
      font-size: 20px;
      font-weight: 500;
      text-align: right;
    }
  }

  blockquote {
    padding: 0.1em 0 0.1em 10px;
    margin: 0 0 .5em 0;
    border-left: 2px solid #71afdd;
    quotes: none;
    line-height: 24px;
  }

  .quote {
    padding: 120px 0 0 0;
  }

  .logo {
    padding: 60px 0;
    width: 200px;
    display: block;
    margin: 0 auto;
  }

  @media screen and (max-width: 700px) {
    section.info .header-blank {
      grid-column: span 0 / span 0;
    }

    section.info .header-info {
      grid-column: span 12 / span 12;
      padding: 12px 0 0 0;
    }
  }

  @media screen and (min-width: 700px) {
    section.info .header-blank {
      grid-column: span 2 / span 2;
    }

    section.info .header-info {
      grid-column: span 10 / span 10;
      padding: 60px 0 0 0;
    }
  }


  .iam,
  .findme {
    padding-top: 60px;
  }

  @media screen and (max-width: 700px) {
    .about-item {
      grid-column: span 12 / span 12;
    }

    .social-link {
      display: grid;
      grid-template-columns: repeat(2, minmax(0px, 1fr));
      gap: 8pt;
    }
  }

  @media screen and (min-width: 700px) {
    .about-item {
      grid-column: span 10 / span 10;
    }

    .social-link {
      display: grid;
      grid-template-columns: repeat(4, minmax(0px, 1fr));
      gap: 8pt;
    }
  }

  .social-link-item {
    display: inline-flex;
    line-height: 22px;
  }

  .social-link-item a {
    margin: 0 2px;
    padding: 0 8px;
    color: #222831aa;
    text-transform: uppercase;
    font-weight: 500;
  }

  .highlight {
    background: linear-gradient(104deg, #71afdd00 0.9%, #71afdd7c 2.4%, #71aedd4d 5.8%, #71afdd1a 93%, #71aedd23 96%, #82ffff00 98%), linear-gradient(183deg, #71afdd00 0%, #71aedd3b 7.9%, #71afdd00 15%);
    margin: 0 2px;
    padding: 0 8px;
    border-radius: 1.5px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0px, 1fr));
    gap: 24px;
    padding: 1.5pc 0;
  }

  #comment {
    max-width: 800px;
  }

  iconpark-icon {
    font-size: 18px;
    padding-right: 2px;
    color: #222831aa;
  }
</style>