<div class="content-area about-content-area pjax-area">
  <section class="info grid">
    <div class="header-blank"></div>
    <div class="header-info">
      <div style="font-weight:500; font-size: 40px; color: #222831;">Hello,</div>
      <div style="font-weight:500; padding: 0; font-size: 40px; color: #222831;">I am <mark>Komorebi</mark></div>
      <div style="font-weight:400; padding: 12px 0; font-size: 18px; color: #222831;">Always a student / Photographer / Blogger</div>
    </div>
  </section>
  <section class="iam grid">
    <div class="about-title">i am</div>
    <div class="about-item">
      <p>Matrix Writer of <a href="https://sspai.com/u/aiokr/posts" target="_blank">SSPAI</a></p>
      <p>Contributor of <a href="https://unsplash.com/@aiokr" target="_blank">Unsplash</a></p>
    </div>
  </section>
  <section class="aboutme grid">
    <div class="about-title">about me</div>
    <div class="about-item">
      <p style="opacity: 0.3;">曾经，我的梦想是成为一名程序员，通过我的代码为世界做出一点贡献；</p>
      <p style="opacity: 0.5;">在大学的时候，我的梦想是成为一名摄影师，想通过按下快门记录每一个瞬间；</p>
      <p style="opacity: 0.7;">现在的我处于对未来的迷茫之中，但我希望我能认真地过好每一天。</p>
  </section>
  <section class="aboutpress grid">
    <div class="about-title">about<br><span style="font-size:16px ;">Tripper.press</span></div>
    <div class="about-item">
      <blockquote>若不被神的意识感知，原本存在之物将不复存在。一件事如果没被报道，就没有发生过。 「新闻」就是新世界的神。</blockquote>
      <p>如果一件事没有记录，那这件事终将在记忆中被遗忘，进而找不到他存在的任何证据。我在这里写下的文字，是我存在的最好的证明。</p>
    </div>
  </section>
  <section class="findme grid">
    <div class="about-title">find me at</div>
    <div class="about-item social-link">
      <div class="social-link-item"><svg t="1662812140724" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="14909" width="22" height="22">
          <path d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9 23.5 23.2 38.1 55.4 38.1 91v112.5c0.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z" p-id="14910" fill="#666666"></path>
        </svg><a class="highlight" href="https://github.com/aiokr" target="_blank">GITHUB</a></div>
      <div class="social-link-item"><svg t="1662812104250" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="14689" width="22" height="22">
          <path d="M832 256h-28.1l-35.7-120.9c-4-13.7-16.5-23.1-30.7-23.1h-451c-14.3 0-26.8 9.4-30.7 23.1L220.1 256H192c-17.7 0-32 14.3-32 32v28c0 4.4 3.6 8 8 8h45.8l47.7 558.7c1.4 16.6 15.3 29.3 31.9 29.3h429.2c16.6 0 30.5-12.7 31.9-29.3L802.2 324H856c4.4 0 8-3.6 8-8v-28c0-17.7-14.3-32-32-32zM508 704c-79.5 0-144-64.5-144-144s64.5-144 144-144 144 64.5 144 144-64.5 144-144 144zM291 256l22.4-76h397.2l22.4 76H291z" p-id="14690" fill="#666666"></path>
          <path d="M508 560m-80 0a80 80 0 1 0 160 0 80 80 0 1 0-160 0Z" p-id="14691" fill="#666666"></path>
        </svg><a class="highlight" href="https://jike.city/photup" target="_blank">Jike</a></div>
      <div class="social-link-item"><svg t="1662873259877" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7248" width="22" height="22">
          <path d="M928 254.3c-30.6 13.2-63.9 22.7-98.2 26.4 35.4-21.1 62.3-54.4 75-94-32.7 19.5-69.7 33.8-108.2 41.2C765.4 194.6 721.1 174 672 174c-94.5 0-170.5 76.6-170.5 170.6 0 13.2 1.6 26.4 4.2 39.1-141.5-7.4-267.7-75-351.6-178.5-14.8 25.4-23.2 54.4-23.2 86.1 0 59.2 30.1 111.4 76 142.1-28-1.1-54.4-9-77.1-21.7v2.1c0 82.9 58.6 151.6 136.7 167.4-14.3 3.7-29.6 5.8-44.9 5.8-11.1 0-21.6-1.1-32.2-2.6C211 652 273.9 701.1 348.8 702.7c-58.6 45.9-132 72.9-211.7 72.9-14.3 0-27.5-0.5-41.2-2.1C171.5 822 261.2 850 357.8 850 671.4 850 843 590.2 843 364.7c0-7.4 0-14.8-0.5-22.2 33.2-24.3 62.3-54.4 85.5-88.2z" p-id="7249" fill="#666666"></path>
        </svg><a class="highlight" href="https://twitter.com/skomobi" target="_blank">Twitter</a></div>
      <div class="social-link-item"><svg t="1662812015696" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7544" width="22" height="22">
          <path d="M512 378.7c-73.4 0-133.3 59.9-133.3 133.3S438.6 645.3 512 645.3 645.3 585.4 645.3 512 585.4 378.7 512 378.7z" p-id="7545" fill="#666666"></path>
          <path d="M911.8 512c0-55.2 0.5-109.9-2.6-165-3.1-64-17.7-120.8-64.5-167.6-46.9-46.9-103.6-61.4-167.6-64.5-55.2-3.1-109.9-2.6-165-2.6-55.2 0-109.9-0.5-165 2.6-64 3.1-120.8 17.7-167.6 64.5C132.6 226.3 118.1 283 115 347c-3.1 55.2-2.6 109.9-2.6 165s-0.5 109.9 2.6 165c3.1 64 17.7 120.8 64.5 167.6 46.9 46.9 103.6 61.4 167.6 64.5 55.2 3.1 109.9 2.6 165 2.6 55.2 0 109.9 0.5 165-2.6 64-3.1 120.8-17.7 167.6-64.5 46.9-46.9 61.4-103.6 64.5-167.6 3.2-55.1 2.6-109.8 2.6-165zM512 717.1c-113.5 0-205.1-91.6-205.1-205.1S398.5 306.9 512 306.9 717.1 398.5 717.1 512 625.5 717.1 512 717.1z m213.5-370.7c-26.5 0-47.9-21.4-47.9-47.9s21.4-47.9 47.9-47.9 47.9 21.4 47.9 47.9c-0.1 26.6-21.4 47.9-47.9 47.9z" p-id="7546" fill="#666666"></path>
        </svg><a class="highlight" href="https://www.instagram.com/skomobi/" target="_blank">Instergram</a></div>
    </div>
  </section><img class="logo nofancy" src="https://imgur.lzmun.com/picgo/after2022/202209101335136.png_itp" />
</div>
<div class="itp-m3-card itp-m3-post-comment_area" id="comment">
  <%- partial('_partial/comment') %>
</div>
<%- css('css/m3-about-page') %>