<%
    var title = '';
    if (page.category) title = page.category;
    if (page.tag) title = "#" + page.tag;
    if (page.archive) {
        if (page.year) title = page.year + (page.month ? '/' + page.month : '');
        else title = __('archive_a');
    }
%>

<div class="max-w-none p-4 md:max-w-screen-md lg:max-w-screen-lg container">
  <div class="index-achieve-title title"><%- title %></div>
  <div class="text-2xl leading-10 py-2 col-span-1 md:col-span-3 gap-1 text-tblack">分类</div>
  <section class="itp-article-categories" style="list-style-type: none;">
    <div class="itp-m3-chip-color">
      <%- list_categories({
          show_count: false,
          class: '',
          style: 'none',
          separator: '</div><div class="itp-m3-chip-color">'
        }) %>
  </section>
  <div class="text-2xl leading-10 py-2 col-span-1 md:col-span-3 gap-1 text-tblack">标签</div>
  <section class="itp-article-categories" style="list-style-type: none;">
    <div class="itp-m3-chip-normal">
      <%- list_tags({
          show_count: false,
          class: '',
          style: 'none',
          separator: '</div><div class="itp-m3-chip-normal">'
        }) %>
  </section>
  <%- partial('_partial/article-archive', { params: { key: page.layout, postTotal: site.posts.length } }) %>