<main class="content-area">
  <div class="mdui-container">
    <div class="mdui-row">
      <div class="mdui-col-md-1 mdui-col-xs-down"></div>
      <div class="mdui-col-md-10 mdui-col-xs-12">
        <div class="padding-70"></div>
        <div class="mdui-row">
          <div class="mdui-card itp-gallery-page-header mdui-shadow-0">
            <div class="mdui-col-xs-12">
              <div class="itp-gallery-page-text">
                <div class="mdui-text-center"><%= page.title %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mdui-col-md-1 mdui-col-xs-down"></div>
    </div>
    <div class="padding-15"></div>
    <div class="mdui-row">
      <div class="mdui-col-md-1 mdui-col-xs-down"></div>
      <div class="mdui-col-md-10 mdui-col-xs-12">
        <div class="mdui-row">
          <div class="mdui-row-xs-2 mdui-row-sm-2 mdui-row-md-3 mdui-row-lg-3 mdui-row-xl-3 mdui-grid-list">
            <div class="mdui-col">
              <div class="mdui-grid-tile">
                <img src="https://imgur.itypen.com/picgo/20190626175049.jpg" />
              </div>
            </div>
            <div class="mdui-col">
              <div class="mdui-grid-tile">
                <img src="https://imgur.itypen.com/picgo/20190626175049.jpg" />
              </div>
            </div>
            <div class="mdui-col">
              <div class="mdui-grid-tile">
                <img src="https://imgur.itypen.com/picgo/20190626175049.jpg" />
              </div>
            </div>
            <div class="mdui-col">
              <div class="mdui-grid-tile">
                <img src="https://imgur.itypen.com/picgo/20190626175049.jpg" />
              </div>
            </div>
            <div class="mdui-col">
              <div class="mdui-grid-tile">
                <img src="https://imgur.itypen.com/picgo/20190626175049.jpg" />
              </div>
            </div>
            <div class="mdui-col">
              <div class="mdui-grid-tile">
                <img src="https://imgur.itypen.com/picgo/20190626175049.jpg" />
              </div>
            </div>
            <div class="mdui-col">
              <div class="mdui-grid-tile">
                <img src="https://imgur.itypen.com/picgo/20190626175049.jpg" />
              </div>
            </div>
            <div class="mdui-col">
              <div class="mdui-grid-tile">
                <img src="https://imgur.itypen.com/picgo/20190626175049.jpg" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mdui-col-md-1 mdui-col-xs-down"></div>
    </div>
</main>
<div class="padding-70"></div>