<div class="content-area itp-gallery-content">
  <div class="mdui-row-xs-2 mdui-row-sm-3 mdui-row-md-4 mdui-row-lg-5 mdui-row-xl-6 mdui-grid-list" style="max-width: 100vw;">
    <% if (site.data.gallery) { %>
    <% for (var a in site.data.gallery) { %>
    <% for (var p in site.data.gallery[a].img ) { %>
    <div class="mdui-col">
      <div class="mdui-grid-tile itp-gallery2-tile itp-gallery-img lazy-bg" data-src="<%- site.data.gallery[a].img[p] %>">
        <a href="<%- site.data.gallery[a].img[p] %>" data-fancybox="images" class="image-fancy-link" data-caption="<%= a %>">
        </a>
      </div>
    </div>
    <% } %>
    <% } %>
    <% } %>
  </div>
  <style>
    body {
      background-color: #2f2f2f !important;
    }
  </style>
  <script>
    $(function() {
      $("div.lazy-bg").lazyload();
    });
  </script>
</div>