<main class="content-area">
  <div class="mdui-container">
    <div class="mdui-row">
      <div class="mdui-col-md-1 mdui-col-xs-down"></div>
      <div class="mdui-col-md-10 mdui-col-xs-12">
        <div class="mdui-row">
          <div class="mdui-card mdui-shadow-0">
            <div class="mdui-card-media">
              <img src="https://imgur.itypen.com/picgo/20190710222641.jpg_itp">
              <!--<div class="mdui-card-menu">
                  <a class="mdui-btn mdui-btn-icon" href="/" mdui-tooltip="{content: 'Back to index'}"><i class="mdui-icon material-icons itp-gallery-home">arrow_back</i></a>
                </div>-->
            </div>
          </div>
        </div>
        <div class="padding-25"></div>
        <div class="mdui-row">
          <a href="./city/">
            <div class="mdui-card itp-gallery-entry itp-gallery-entry-even mdui-shadow-0">
              <div class="mdui-col-md-5 mdui-col-xs-12 mdui-card-media itp-gallery-entry-thumb"
                style="background-image: url(https://imgur.itypen.com/picgo/20190414005145.jpg_itp)">
              </div>
              <div class="mdui-col-md-7 mdui-col-xs-12">
                <div class="itp-gallery-entry-text">
                  <div class="mdui-text-center">City</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="padding-25"></div>
        <div class="mdui-row">
          <div class="mdui-card itp-gallery-entry mdui-shadow-0">
            <div class="mdui-col-md-5 mdui-col-xs-12 mdui-card-media itp-gallery-entry-thumb"
              style="background-image: url(https://imgur.itypen.com/picgo/20190414003537.jpg_itp)">
            </div>
            <div class="mdui-col-md-7 mdui-col-xs-12">
              <div class="itp-gallery-entry-text">
                <div class="mdui-text-center">Street</div>
              </div>
            </div>
          </div>
        </div>
        <div class="padding-25"></div>
        <div class="mdui-row">
          <div class="mdui-card itp-gallery-entry itp-gallery-entry-even mdui-shadow-0">
            <div class="mdui-col-md-5 mdui-col-xs-12 mdui-card-media itp-gallery-entry-thumb"
              style="background-image: url(https://imgur.itypen.com/picgo/2921bjb.jpg_itp)">
            </div>
            <div class="mdui-col-md-7 mdui-col-xs-12">
              <div class="itp-gallery-entry-text">
                <div class="mdui-text-center">Activite</div>
              </div>
            </div>
          </div>
        </div>
        <div class="padding-25"></div>
        <div class="mdui-row">
          <div class="mdui-card itp-gallery-entry mdui-shadow-0">
            <div class="mdui-col-md-5 mdui-col-xs-12 mdui-card-media itp-gallery-entry-thumb"
              style="background-image: url(https://imgur.itypen.com/picgo/20190530210500.jpg_itp)">
            </div>
            <div class="mdui-col-md-7 mdui-col-xs-12">
              <div class="itp-gallery-entry-text">
                <div class="mdui-text-center">Viedo</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="mdui-col-md-1 mdui-col-xs-down"></div>
  </div>
  </div>
  <div class="padding-70"></div>
</main>