<%
    var title = '';
    if (page.category) title = page.category;
    if (page.tag) title = "#" + page.tag;
    if (page.archive) {
        if (page.year) title = page.year + (page.month ? '/' + page.month : '');
        else title = __('archive_a');
    }
%>
<div class="mdui-container">
  <div class="content-area archive-content-area">
    <div class="mdui-row">
      <div class="mdui-col-md-1 mdui-col-xs-down"></div>
      <div class="mdui-col-md-10 mdui-col-xs-12">
        <div class="mdui-card itp-post-card">
          <div class="mdui-card-primary">
            <div class="index-achieve-title title"><%- title %></div>
            <section class="itp-blog-list">
              <div class="mdui-row-xs-1 mdui-row-sm-2 mdui-row-lg-3">
                <%- partial('_partial/archive-list') %>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="mdui-col-md-1 mdui-col-xs-down"></div>
    </div>
  </div>