<%
    var title = '';
    if (page.category) title = page.category;
    if (page.tag) title = "#" + page.tag;
    if (page.archive) {
        if (page.year) title = page.year + (page.month ? '/' + page.month : '');
        else title = __('archive_a');
    }
%>
<div class="content-area archive-content-area p-4 container max-w-[1280px] pjax-area">
  <div class="index-achieve-title title"><%- title %></div>
  <section class="itp-blog-list">
    <%- partial('_partial/archive-list') %>
  </section>
</div>