$dark-bg-color: #121212;
$dark-card-color: #424242;
$dark-title-color: #ffffff;
$dark-subtitle-color: #bdbdbd;
$dark-blue: #03A9F4;
$dark-green: #1db954;
$dark-lightgreen: #49b683;
$dark-yellow: #feda7a;
body,
.itp-drawer,
.mdui-chip,
.mdui-toolbar {
    background-color: $dark-bg-color !important;
}

.itp-float-bar {
    background-color: $dark-card-color !important;
}

.itp-float-bar a span {
    color: $dark-title-color;
}

.itp-index-title,
.itp-index-header,
.itp-index-header-title,
.itp-post-entry-moment,
.itp-post-title,
.itp-post-entry-title,
.itp-post-entry-title a,
.itp-header-actions,
.itp-link .mdui-card-header-title,
.itp-search .mdui-textfield-input,
.itp-search .mdui-list-item a,
.mdui-list-item-title,
.itp-header-title,
.mdui-btn,
.itp-gallery-title,
.index-achieve-title.title,
.post-cover,
.itp-m3-post-entry-info .title a {
    color: $dark-title-color !important;
}

.article p,
.moment-card .title p,
.itp-toc span,
.mdui-chip a,
.itp-drawer-title,
.itp-index-subtitle,
.itp-post-subtitle,
.category-link,
.itp-post-entry-categories,
.itp-post-entry-subtitle,
.itp-post-entry-excerpt,
.itp-post-entry-excerpt a,
.itp-link .mdui-card-header-subtitle,
.itp-search .mdui-textfield-label,
.mdui-list-item-text,
.itp-page-select-prev a,
.itp-page-select-next a,
.itp-m3-post-entry-info .excerpt,
.itp-m3-post-entry-info .meta,
.itp-achieve-title,
.info_area-copyright p,
i.mdui-icon {
    color: $dark-subtitle-color !important;
}

img {
    filter: brightness(.8);
}

.itp-drawer-description,
.itp-index-header-description {
    color: #e3e3e3;
}

.itp-post-entry,
.itp-m3-card,
.itp-m3-post-info_area {
    background-color: $dark-card-color !important;
}

.itp-index-link {
    border: solid 2px rgba(225, 225, 225, 0.06);
}

.mdui-card-header-title {
    color: $dark-title-color;
}

.mdui-card-header-subtitle {
    color: $dark-subtitle-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    filter: invert(1) hue-rotate(180deg);
}

.article a {
    color: #e3e3e3;
}

.itp-search {
    .mdui-textfield-input {
        border-bottom: 1px solid $dark-subtitle-color;
    }
}

.v {
    .vcontent p a,
    .power a {
        color: $dark-title-color !important;
    }
    .veditor,
    .vemoji-btn,
    .vpreview-btn,
    .markdown,
    .vcontent p,
    .vmeta .vat,
    .vcount,
    .vcount span {
        color: $dark-subtitle-color !important;
    }
    .vbtn {
        background: $dark-bg-color !important;
        color: $dark-title-color !important;
    }
    .vsys {
        background: $dark-bg-color !important;
    }
}

.itp-post-card,
.itp-index-card,
.itp-link {
    background-color: $dark-card-color;
}

.post-cover {
    .itp-m3-card-cover-layer {
        background: linear-gradient(#424242ba, #424242ba) !important;
        height: 100%;
    }
}

.top-cover {
    .itp-m3-card-cover-layer {
        background: linear-gradient(rgba(32, 32, 32, 0) 14%, rgba(32, 32, 32, 0.56) 100%) !important;
    }
}

.top-cover {
    .itp-m3-cover-title,
    .itp-m3-cover-subtitle {
        color: $dark-title-color !important;
    }
}

.post-cover {
    .itp-m3-cover-title,
    .itp-m3-cover-subtitle {
        color: $dark-title-color !important;
    }
}