@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url('/fonts/josefin-sans-v14-latin-regular.woff') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/josefin-sans-v14-latin-regular.woff2') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
}

@font-face {
    font-family: 'Source Han Sans';
    font-display: swap;
    src: url('//at.alicdn.com/t/webfont_hm0yzfeejrp.eot');
    /* IE9*/
    src: url('//at.alicdn.com/t/webfont_hm0yzfeejrp.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_hm0yzfeejrp.woff2') format('woff2'), url('//at.alicdn.com/t/webfont_hm0yzfeejrp.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_hm0yzfeejrp.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_hm0yzfeejrp.svg#NotoSansHans-DemiLight') format('svg');
    /* iOS 4.1- */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.itp-gallery-title,
.itp-gallery-subtitle,
.itp-post-title,
.itp-post-entry-title,
.itp-post-entry-subtitle,
.itp-mag-logo,
.itp-index-title,
.itp-post-entry-moment,
.itp-header-actions-menu,
.itp-header-title,
.itp-m3-post-entry-info .title,
.itp-header-actions,
.itp-cover-title,
.itp-cover-subtitle,
.itp-post-subtitle,
.itp-m3-post-entry-info,
.itp-m3-cover-subtitle,
.itp-m3-cover-title,
.itp-gallery-info .title,
.itp-post-entry-excerpt,
.footer-info {
    font-family: "Roboto Slab", "Noto Serif SC", serif, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, pingfang sc, source han sans sc, noto sans cjk sc, sarasa gothic sc, microsoft yahei, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.article,
.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6,
.article blockquote,
.article p,
.article a,
.info_area-copyright,
.tags-link,
.category-link,
.v {
    font-family: "Roboto Slab", "Noto Serif SC", serif, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, pingfang sc, source han sans sc, noto sans cjk sc, sarasa gothic sc, microsoft yahei, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}