p {
  margin: 1.5em 0px !important;
  font-size: 16px;
  color: #222831;
  line-height: 1.8em;
  letter-spacing: 0;
}

/*
文字避头尾法则
aiokr learn from https://blog.csdn.net/qq_23375733/article/details/99975659
*/
p {
  table-layout: fixed !important;
  /*文字避首尾 -- 防止撑开*/
  word-wrap: break-word !important;
  /*英文单字因自动换行*/
  word-break: normal !important;
  /*正常避头尾 */
  text-align: justify !important;
  /*文字左右对齐*/
  text-justify: inter-ideograph !important;
  /*用表意文本来排齐内容*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-style: bold !important;
  color: #2196f3 !important;
  margin-top: 1.5em;
  margin-bottom: .5em;
  text-align: left !important;
  font-family: sans-serif;
  font-weight: bold
}

h1 {
  font-size: 24px !important;
  text-align: left !important;
}

h2 {
  font-size: 22px !important;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 20px;
}

blockquote,
q {
  border-left: 2px solid #2196f3;
  padding: 0 10px;
  color: #777;
  quotes: none;
}

mark {
  margin: 0 5px;
  padding: 2px 4px;
  border-bottom: 1px solid #ffedce;
  background: #fffdd1;
}