/*
网站全灰

html {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
*/

html,
body {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}

#content_progress {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    color: $progress-color;
}

#content_progress::-webkit-progress-bar {
    background-color: transparent;
}

#content_progress::-webkit-progress-value {
    background-color: $progress-color;
}

#content_progress::-moz-progress-bar {
    background-color: $progress-color;
}

body {
    background-color: $bg-color !important;
    font-family: "SF UI Display", ".PingFang SC", "PingFang SC", "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Microsoft YaHei", "Microsoft JhengHei", "Helvetica Neue", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Helvetica", "Hiragino Sans GB", sans-serif;
}

body ::selection {
    background: $sub-color;
    color: #fff;
}

body ::-moz-selection,
body ::-webkit-selection {
    background: $sub-color;
    color: #fff;
}

.nodisplay {
    display: none;
}

.display {
    display: inline;
}

.display-block {
    display: block !important;
}

.toc-display {
    display: block;
}

.padding-70 {
    padding-top: 70px;
}

.padding-15 {
    padding-top: 15px;
}

.padding-25 {
    padding-top: 25px;
}

.itp-category-list {
    font-size: 16px;
    line-height: 1.8em;
    list-style-type: none;
}

@media print {
    .itp-post-card {
        box-shadow: 0 0px 0px 0px #fff !important;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 816px) {
    .itp-post-card {
        box-shadow: 0 0px 0px 0px #fff !important;
    }
}

@media screen and (min-width: 816px) {
    .itp-post-card {
        -webkit-box-shadow: 0 0px 0px 0 rgba(1, 1, 1, .15);
        box-shadow: 0 0px 0px 0 rgba(1, 1, 1, .15);
    }
}

.itp-page-select {
    padding: 20px 20px 20px 20px;
    a {
        color: #000 !important;
    }
}

.mdui-chip-title-link,
.mdui-chip-title-none-link {
    display: inline-block;
    height: 32px;
    padding-right: 12px;
    padding-left: 12px;
    font-size: 14px;
    line-height: 32px;
    vertical-align: middle;
}

strong,
b {
    color: $main-color;
    font-weight: bold;
}

em,
i {
    color: $main-color;
    font-style: italic;
}

a {
    color: $main-color;
    text-decoration: none;
}

.upyun {
    margin: 20px auto;
}

@media (min-width: 48.1875rem) {
    .photograph-header {
        max-width: 800px;
        background-size: cover;
        background-image: url(https://imgur.lzmun.com/picgo/20190524175214.svg)
    }
}

@media print {
    .noprn {
        display: none;
    }
}

@media screen {
    .noscreen {
        display: none;
    }
}

.itp-footer {
    display: block;
    background-color: rgba(255, 255, 255, 0);
    padding-top: 10vh;
    padding-bottom: 10vh;
    .footer-info,
    a {
        color: $grey;
    }
    .footer-logo {
        padding: 10px 0 0 0;
    }
}

.drawer-spacer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.mdui-textfield {
    color: #2196f3 !important;
    border-bottom-color: #2196f3 !important;
}

.mdui-textfield-focus .mdui-textfield-label {
    color: #2196f3 !important;
}

.mdui-textfield-focus .mdui-textfield-input {
    color: #2196f3 !important;
    border-bottom-color: #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important;
}

.mdui-textfield-input:hover {
    border-bottom-color: #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important;
    -webkit-box-shadow: 0 1px 0 0 #2196f3 !important;
}

.mdui-chip {
    margin-right: 5px;
    a {
        color: $black;
    }
}

.teleprompter {
    font-size: xxx-large;
    font-size: -webkit-xxx-large;
}