p {
    margin: 1.5em 0px !important;
    font-size: 16px;
    font-weight: 400;
    color: #222831;
    line-height: 1.8em;
    letter-spacing: 0;
}


/*
文字避头尾法则
aiokr learn from https://blog.csdn.net/qq_23375733/article/details/99975659
*/

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    table-layout: fixed !important;
    /*文字避首尾 -- 防止撑开*/
    word-wrap: break-word !important;
    /*英文单字因自动换行*/
    word-break: normal !important;
    /*正常避头尾 */
    /*text-align: justify !important;*/
    /*文字左右对齐*/
    text-justify: inter-ideograph !important;
    /*用表意文本来排齐内容*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-style: bold !important;
    color: $black !important;
    margin-top: 1.5em;
    margin-bottom: .5em;
    text-align: left !important;
    font-weight: 600;
}

h1 {
    font-style: normal;
    font-size: 28px;
    line-height: 140%;
    margin-top: 36px;
    margin-bottom: 24px;
    text-align: left !important;
}

h2 {
    font-size: 26px !important;
    margin-top: 30px;
    margin-bottom: 20px;
}

h3 {
    font-size: 22px;
    margin-top: 24px;
    margin-bottom: 16px;
}

h4 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 16px;
}

h5 {
    font-size: 18px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 16px;
}

h6 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 8px;
}

strong {
    font-weight: 700;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}

ol li,
ul li {
    margin: 10px 0;
    font-style: normal;
    line-height: 31px;
}

img {
    display: block;
    margin: auto;
    border-radius: 4px;
    max-width: 100%;
}

blockquote {
    padding: 0 0px 0 10px;
    margin: 1.5em 0px !important;
    border-left: 2px solid $main-color;
    quotes: none;
    p {
        color: $grey;
        margin-top: 0 !important;
    }
}

blockquote::before,
.stressed-quote::before {
    content: "\201C";
    display: block;
    font-style: normal;
    font-size: 28px;
    color: $main-color;
    font-weight: bold;
    line-height: 30px;
}

a {
    color: $black;
    text-decoration: underline;
    text-decoration-color: $main-color;
}

mark {
    background: #9deeb0;
}

.right {
    @media screen and (max-width: 768px) {
        vertical-align: middle;
        text-align: center
    }
    @media screen and (min-width: 768px) {
        float: right;
        padding: 15px;
    }
    @media print {
        float: right;
        padding: 15px;
    }
}

.left {
    @media screen and (max-width: 768px) {
        vertical-align: middle;
        text-align: center
    }
    @media screen and (min-width: 768px) {
        float: left;
        padding: 15px;
    }
    @media print {
        float: left;
        padding: 15px;
    }
}

ol li,
ul li {
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: 0;
}

.footnotelist ol li {
    span {
        display: contents !important;
    }
}