.itp-top-cover-mag {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.itp-mag-logo {
  padding: 60px 20px 20px 20px;
  text-align: center; //水平居中
  line-height: 100px; //跟高度一样
  color: #fff;
  font-size: 48px;
  font-weight: 800;
}

.itp-mag-title {

  height: 70vh;
  margin-top: 30vh;

  .itp-mag-logo {
    padding: 60px 20px 20px 20px;
    text-align: center; //水平居中
    line-height: 100px; //跟高度一样
    color: $black;
    font-size: 48px;
    font-weight: 800;
  }

  h1 {
    font-family: 'Josefin Sans', 'Roboto', -apple-system, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'ST Heiti', sans-serif;
    text-align: center; //水平居中
    line-height: 100px; //跟高度一样
    font-size: calc(36px + (4400vw - 14080px)/1180);
    font-weight: 800;
    color: $black;
  }

  h2 {
    font-family: 'Josefin Sans', 'Roboto', -apple-system, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'ST Heiti', sans-serif;
    text-align: center; //水平居中
    line-height: 100px; //跟高度一样
    font-size: calc(36px + (4400vw - 14080px)/2000);
    font-weight: 800;
    color: $black;
  }

  .itp-mag-excerpt {
    font-family: 'Josefin Sans', 'Roboto', -apple-system, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'ST Heiti', sans-serif;
    font-size: calc(30px + (200vw - 14080px)/2000);
    padding-top: 100px;
    margin-bottom: 1.5em !important;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    max-width: 800px;
    color: $black;
  }

}

.itp-mag-content {
  padding-top: 20vh;
  font-family: 'Josefin Sans', 'Roboto', -apple-system, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'ST Heiti', sans-serif;
  font-size: calc(12px + (600vw - 1920px)/1180);
  padding-bottom: 60vh !important;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  max-width: 800px;

  .itp-mag-img {
    text-align: center;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 40px;

    img {
      margin: 0 auto;
      display: inline-block;
      max-height: 80vh;
    }

    .wide {
      margin: 0 auto;
      display: inline-block;
      width: 80vw;
    }
  }
}

