.itp-post-gallery {
    height: 35vh;
    padding: 4px !important;
    img {
        position: absolute;
        vertical-align: bottom;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


/*
.itp-post-gallery {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  .img_x {
    height: 35vh;
    background-color: #ffffff00;
    position: relative;
    margin: 2px;
  }

  .img_x>img {
    position: absolute;
    vertical-align: bottom;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 5px;
  }

  .img_x>i {
    display: block;
    background-color: #ffffff00;
  }
}

#img_wrap {
  display: flex;
  flex-wrap: wrap;
}
*/

.itp-gallery-title {
    font-size: 2.6rem;
    line-height: 1.2em;
    @media (min-width: 816px) {
        padding: 20px 20px 16px 7px;
    }
    @media (max-width: 816px) {
        padding: 16px 16px 4px 7px;
    }
}

.itp-gallery-subtitle {
    @media (min-width: 816px) {
        padding: 0 20px 65px 7px;
        font-size: 1.2rem;
        line-height: 1.2em;
    }
    @media (max-width: 816px) {
        padding: 16px 16px 8px 7px;
        font-size: 1.2rem;
        line-height: 1.2em;
    }
}

.itp-post-title {
    color: #222831;
}

.itp-post-title_has_cover {
    @media (min-width: 816px) {
        padding: 6% 0% 4px 0%;
        font-size: 2.6rem;
    }
    @media (max-width: 816px) {
        padding: 20px 16px 4px 16px;
        font-size: 1.8rem;
    }
}

.itp-post-title {
    @media (min-width: 816px) {
        padding: 12% 0% 4px 0%;
        font-size: 2.6rem;
    }
    @media (max-width: 816px) {
        padding: 20px 16px 4px 16px;
        font-size: 1.8rem;
    }
}

.itp-post-subtitle {
    @media (min-width: 816px) {
        padding: 16px 0% 0 0%;
    }
    @media (max-width: 816px) {
        padding: 6px 16px;
    }
    color: #767676;
}

.itp-post-top {
    position: relative;
    z-index: 0;
    max-width: 890px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: left;
    line-height: .7rem;
    font-size: .625rem;
}

.itp-post-content img {
    max-width: 100%;
    height: auto;
}

.itp-post-comment {
    padding: 20px 20px 20px 20px !important;
    @media screen and (min-width: 816px) {
        padding: 20px 0 20px 0 !important;
    }
}

#dsqjs footer {
    background-color: #eeeeee;
}

.article-info {
    @media (min-width: 816px) {
        padding-right: 10%;
        padding-left: 10%;
    }
}

.itp-post-content {
    @media (min-width: 816px) {
        padding-right: 0%;
        padding-left: 0%;
    }
}

img.mdui-col {
    padding: 10px;
}

.post-content p img {
    display: block;
    margin: 0 auto;
}

.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
}

.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.article {
    @import './itypen-md';
}


/* Post Author Area */

.itp-post-author {
    .itp-post-author-avatar {
        text-align: center;
        padding: 60px 0 20px 0;
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        img {
            width: 80px;
            height: auto;
        }
    }
    .itp-post-author-title {
        text-align: center;
        font-size: 18px;
        line-height: 25px;
    }
    .itp-post-author-descr {
        padding: 0 40px;
    }
}