body,
html {
  padding: 0 !important;
  margin: 0 !important;
}

.header-padding {
  height: 15vh;
}

.main-section {
  height: 100vh;
}

.first-section {
  border: black;
}

.date {
  font-family: serif;
  font-size: 80px;
  padding: 48px;
  padding-top: 30vh;
}

.sentence {
  font-family: serif;
  font-size: 18px;
}