@import './_customize';
@import './_shareimg';
@import './_m3-components/_m3-post-entry';
@import './_m3-components/_m3-chip';
@import './_m3-components/_m3-card';
$toggle_screen: 1024px;
//COVER
@media screen and (max-width: $toggle_screen) {
    .itp-m3-cover-box {
        width: 100vw;
        .mdui-col-xs-12 {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.itp-m3-cover {
    box-sizing: border-box;
    border-radius: 5x;
    box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 5%), 1px 1px 15px 0 rgb(0 0 0 / 8%);
    //最小尺寸 $toggle_screen 大屏幕设备
    @media screen and (min-width: $toggle_screen) {
        margin-top: 108px;
        .itp-m3-cover-bg {
            border-radius: 5px;
        }
    }
    //最大尺寸 $toggle_screen 中等屏幕设备
    @media screen and (max-width: $toggle_screen) {
        margin: 0px;
        .itp-m3-cover-bg {
            border-radius: 0 0 5px 5px;
        }
    }
    .itp-m3-cover-bg {
        width: 100%;
        height: 100%;
        background: #000;
    }
    .itp-m3-cover-layer {
        background: linear-gradient(rgba(32, 32, 32, 0) 14%, rgba(32, 32, 32, 0.56) 100%);
        height: 100%;
        border-radius: 5px;
    }
}

.top-cover {
    .itp-m3-cover-title,
    .itp-m3-cover-subtitle {
        color: #fff;
    }
}

.post-cover {
    .itp-m3-cover-title,
    .itp-m3-cover-subtitle {
        color: $black;
    }
}

.info-area {
    //最小尺寸 $toggle_screen 大屏幕设备
    @media screen and (min-width: $toggle_screen) {
        padding: 96px 64px 64px 96px;
        .itp-m3-cover-avatar {
            img {
                max-height: 64px;
                max-width: 64px;
                border-radius: 50%;
                padding-bottom: 8px;
            }
        }
        .itp-m3-cover-title {
            padding: 8px 0 0 0;
            font-size: 32px;
            line-height: 48px;
        }
        .itp-m3-cover-subtitle {
            padding-bottom: 8px;
            font-size: 18px;
            line-height: 22px;
        }
    }
    //最大尺寸 $toggle_screen 中等屏幕设备
    @media screen and (max-width: $toggle_screen) {
        padding: 92px 48px 60px 48px;
        .itp-m3-cover-avatar {
            img {
                max-height: 64px;
                max-width: 64px;
                border-radius: 50%;
                padding-bottom: 6px;
            }
        }
        .itp-m3-cover-title {
            padding: 8px 0 0 0;
            font-size: 26px;
            line-height: 32px;
        }
        .itp-m3-cover-subtitle {
            padding-bottom: 8px;
            font-size: 18px;
            line-height: 22px;
        }
    }
    //最大尺寸 600px 中等屏幕设备
    @media screen and (max-width: 600px) {
        padding: 120px 48px 48px 48px;
        .itp-m3-cover-title {
            padding: 8px 0 0 0;
            font-size: 26px;
            line-height: 32px;
        }
        .itp-m3-cover-subtitle {
            padding-bottom: 8px;
            font-size: 18px;
            line-height: 22px;
        }
    }
}

//浮动弹窗
.itp-float-layer {
    z-index: 1400;
    @media screen and (min-width: $toggle_screen) {
        display: none;
    }
    @media screen and (max-width: $toggle_screen) {
        width: 100vw;
        border-radius: 12px 12px 0 0;
        height: 90vh;
        display: -webkit-flex;
        display: flex;
        justify-content: space-evenly;
        -webkit-justify-content: space-evenly;
        //颜色 透明 模糊
        background-color: $deep-grey;
        backdrop-filter: saturate(180%) blur(18px) !important;
        -webkit-backdrop-filter: saturate(180%) blur(18px) !important;
        -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
        //定位
        display: flex !important;
        position: fixed !important;
        bottom: -90vh; //开始时不现实弹窗
        //动画
        -webkit-transition: all .2s cubic-bezier(.4, 0, .2, 1), -webkit-box-shadow .2s cubic-bezier(.4, 0, 1, 1);
        transition: all .2s cubic-bezier(.4, 0, .2, 1), -webkit-box-shadow .2s cubic-bezier(.4, 0, 1, 1);
        transition: all .2s cubic-bezier(.4, 0, .2, 1), box-shadow .2s cubic-bezier(.4, 0, 1, 1);
        transition: all .2s cubic-bezier(.4, 0, .2, 1), box-shadow .2s cubic-bezier(.4, 0, 1, 1), -webkit-box-shadow .2s cubic-bezier(.4, 0, 1, 1);
        //阴影
        -webkit-box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
        box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    }
}

.itp-float-layer-bg {
    background-color: #00000077;
    /*当弹窗显示时，屏幕滚动时，弹窗始终保持位置固定在屏幕正中，不随屏幕滚动而变化位置*/
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0px 0 0 0px;
    bottom: 0;
    /*设置弹窗位于遮罩的上方*/
    z-index: 1050;
}

.layer-bg-nodisplay {
    display: none;
}

.itp-float-layer-pull-up {
    bottom: 0;
    display: flex;
    -webkit-transition: all .2s cubic-bezier(.4, 0, .2, 1), -webkit-box-shadow .2s cubic-bezier(.4, 0, 1, 1);
    transition: all .2s cubic-bezier(.4, 0, .2, 1), -webkit-box-shadow .2s cubic-bezier(.4, 0, 1, 1);
    transition: all .2s cubic-bezier(.4, 0, .2, 1), box-shadow .2s cubic-bezier(.4, 0, 1, 1);
    transition: all .2s cubic-bezier(.4, 0, .2, 1), box-shadow .2s cubic-bezier(.4, 0, 1, 1), -webkit-box-shadow .2s cubic-bezier(.4, 0, 1, 1);
}

//浮动导航
#open_toc {
    @media screen and (min-width: $toggle_screen) {
        display: none;
    }
}

.itp-float-bar {
    @media screen and (min-width: $toggle_screen) {
        z-index: 1000;
        width: 100vw;
        height: 54px;
        max-width: none;
        border-radius: 0;
        top: 0px;
        display: flex;
        flex-direction: row;
        position: fixed;
    }
    @media screen and (max-width: $toggle_screen) {
        z-index: 1000;
        height: 54px;
        width: 100vw;
        border-radius: 12px 12px 0 0;
        display: -webkit-flex;
        display: flex;
        justify-content: space-evenly;
        -webkit-justify-content: space-evenly;
        //定位
        display: flex !important;
        position: fixed !important;
        bottom: 0px;
        //阴影
        -webkit-box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
        box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    }
    //颜色 透明 模糊 动画
    background-color: #ffffffb5;
    backdrop-filter: saturate(180%) blur(18px) !important;
    -webkit-backdrop-filter: saturate(180%) blur(18px) !important;
    .itp-float-bar-item {
        background-color: rgba(0, 0, 0, 0);
        width: 54px;
        color: $black;
        text-align: center; //水平居中
        background-color: rgba(0, 0, 0, 0);
        [class*=material-icons-] {
            line-height: 54px;
        }
    }
    [type=button],
    [type=reset],
    [type=submit],
    button {
        -webkit-appearance: attachment;
    }
    .itp-float-bar-spacer {
        flex-grow: 1;
    }
    .itp-float-bar-item-max {
        @media screen and (max-width: $toggle_screen) {
            display: none;
        }
    }
    .itp-float-bar-item:hover,
    .itp-float-bar-item-max:hover {
        background: rgba(225, 225, 225, 0.2);
        cursor: pointer;
        -webkit-transition: all .2s cubic-bezier(.4, 0, .2, 1), -webkit-box-shadow .2s cubic-bezier(.4, 0, 1, 1);
        transition: all .2s cubic-bezier(.4, 0, .2, 1), -webkit-box-shadow .2s cubic-bezier(.4, 0, 1, 1);
        transition: all .2s cubic-bezier(.4, 0, .2, 1), box-shadow .2s cubic-bezier(.4, 0, 1, 1);
        transition: all .2s cubic-bezier(.4, 0, .2, 1), box-shadow .2s cubic-bezier(.4, 0, 1, 1), -webkit-box-shadow .2s cubic-bezier(.4, 0, 1, 1);
    }
}

//文章
.itp-m3-post {}


/*
.copyright-icon-box {
    .copyright-icon {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        border-style: solid;
        border-width: 1.125rem;
        border-color: #c7c7c7;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: center;
        align-items: center;
    }
    .copyright-icon-before,
    .copyright-icon-after {
        display: block;
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        left: .2rem;
        border-color: #c7c7c7;
        border-right-color: transparent;
        font-size: 0px;
        border-radius: 50%;
        border-style: solid;
        border-width: 1.2rem;
    }
}
*/

.itp-m3-post-info_area {
    background: url('../img/copyright_black_24dp.svg');
    background-position: right -45px top -35px;
    background-repeat: no-repeat;
    background-size: 150px;
    background-clip: padding-box;
    margin: 0;
    @media screen and (min-width: $content-width) {
        padding: 18px 3.5rem;
    }
    @media screen and (max-width: $content-width) {
        padding: 18px 1.5rem;
    }
    border-radius: 5px;
    background-color: #f5f5f5a4;
    .info_area-category {
        a {}
    }
}

.info_area-copyright {
    p {
        color: $black;
        line-height: 24px;
        padding: 12px 6px 6px 0px;
    }
}