<!-- scripts -->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<%- js('js/app.js') %>
<%- js('js/mdui.min.js') %>
<%- js('js/gallery.js') %>
<script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<% if(theme.highlight.use == true) { %>
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/highlight.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();
  $("code").each(function () {
    $(this).html("<ol><li>" + $(this).html().replace(/\n/g, "\n</li><li>") + "\n</li></ol>");
  });
</script>
<% } %>