<div style="display: none;" id="nav_menu" class="itp-nav-menu">
  <div class="mdui-dialog-title">导航</div>
  <div class="mdui-row-xs-2 mdui-nav-list" style="padding-bottom: 10px;">
    <% for (var i in theme.nav) { %>
    <a class="mdui-list-item mdui-ripple mdui-col" href="<%- theme.nav[i].link %>">
      <i class="mdui-list-item-icon mdui-icon material-icons itp-drawer-icon"><%- theme.nav[i].icon %></i>
      <div class="mdui-list-item-content itp-header-actions-menu" style="font-size: 14px; color: #757575;"><%- i %>
      </div>
    </a>
    <% } %>
  </div>
</div>