<%- partial('_partial/drawer') %>
<header class="noprn">
  <div class="mdui-appbar mdui-appbar-fixed mdui-shadow-0">
    <div class="mdui-toolbar mdui-color-theme">
      <button class="mdui-btn mdui-btn-icon itp-drawer-btn" mdui-drawer="{target:'#main-drawer',overlay:true,swipe:true}" id="menu"><i
          class="mdui-icon material-icons">menu</i></button>
      <!--<a href="<%= url_for() %>">
        <img class="mdui-img-fluid mdui-typo-title" src="https://imgur.itypen.com/picgo/144.png"
          style="max-width: 43px;">
      </a>-->
      <!--<a href="<%= url_for() %>" class="mdui-typo-title" style=""><%- config.title %></a>-->
      <div class="mdui-toolbar-spacer"></div>
    </div>
  </div>
</header>