
<div class="mdui-dialog" id="shareDialogText" style="text-align: center;">
  <div class="itp-share-card" id="shareInfo">
    <div class="itp-share-cover" style="background: url('<%- page.cover || theme.header.img %>');">
      <div class="itp-share-layer">
        <div class="itp-share-info">
          <div class="itp-share-avatar">
            <img src="<%- theme.avatar %>" class="nofancy">
          </div>
          <div class="itp-share-title"><%- page.title || theme.default_post_title || "Untitled" %></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mdui-dialog" id="shareDialogImg" style="text-align: center;">
  分享图已生成
</div>